body{
    background-color:#FFF3E1;
    max-height: 100vh;
}

.wrapper{
  padding-top: 1%;
    display: grid;
    grid-template-columns: 70% 30%;
   
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5em;
    text-align: center;
    padding-top: 5%;
    padding-left: 2%;
}

.products1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 5em;
  text-align: center;
  padding-top: 5%;
  padding-left: 2%;
}

.video {
  padding-top: 5%;
  display: flex;
  justify-content: center;


}
.video iframe{
  height: 30em;
  width: 60%;
}

.wholeTing{

    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 3%;

}


header{
    margin-left: 15%;
    background-image: url(images/Tyson.png);
    background-size: 80% 140%;
    padding-bottom: 20%;
    background-repeat: no-repeat;
}

*{
    margin: 0px;
    padding: 0px;
}

/* NAV BAR */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#fce5c6;
    font-family: 'Nunito', sans-serif;

}

.nav-links{
    display: flex;
    width: 70%;
    background-color: rgba(0,0,0,0.0);
    justify-content: space-around;
    
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    color: rgb(70, 70, 70);
    padding-right: 125%;
    border-right: 1px solid black;
}
.nav-links li{
    list-style: none;
    
    
}

.nav-links :hover{
        text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
        color: rgb(114, 114, 114);
        
}






footer{
    text-align: center;
    float: left;
    bottom: 0;
    width:100%;
    margin-top: 250px;
    margin-left: 15px;
  }

/* HOME PAGE SLIDER */

  #slider{
    overflow: hidden;
  }
  
  #slider figure{
    position:relative;
    margin:0;
    left:0;
    animation: 20s slider infinite;
    width: 500%;
    
  }
  
  #slider figure img {
    width: 20%;
    float: left;
  }
  
  @keyframes slider{
    0%{
      left: 0;
    }
    20%{
      left: 0;
    }
    25%{
      left: -100%;
    }
    45%{
      left: -100%;
    }
    50%{
      left: -200%;
    }
    70%{
      left: -200%;
    }
    75%{
      left: -300%;
    }
    95%{
      left: -300%;
    }
    100%{
      left: -400%;
    }
  }


.logo{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 125%;
    color: rgb(70, 70, 70);
    
}

aside p{
  font-weight: bold;
  padding: 20%;
  font-size: 125%;
  text-align: center;
  font-family:'Nunito', sans-serif; 
  
}



/* SIDE |BAR */

.wrapper2{
  padding-left: 8%;
}

.wrapper2 .sidebar{
  width: 100%;
  height: 100%;
  background: #ffd7a3;
}

.wrapper2 .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 5%;
  letter-spacing: 5px;
}

.wrapper2 .sidebar ul li{
  padding: 10%;
  list-style: none;
}    

.wrapper2 .sidebar ul li a{
  color: #ffffff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}


.wrapper2 .sidebar ul li:hover{
  background-color: #fdead0;
}
    
.wrapper2 .sidebar ul li:hover a{
  color: rgb(70, 70, 70);
}



.artistName{
  text-align: center;
  padding-left: 20%;
  padding-top: 5%;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 200%;
}

.products div img{
  width: 90%;
  height: 58%;
  padding-top:5%;
  padding-bottom:5%; 
}

.products1 div img{
  width: 90%;
  height: 70%;
  padding-top:5%;
  padding-bottom:5%; 
}



.products div p{
  font-family: 'Nunito', sans-serif;
  text-align: center;


}

.products1 div p{
  font-family: 'Nunito', sans-serif;
  text-align: center;


}
.products div .pTop{
  border-top: 5px solid rgb(70, 70, 70);
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.products1 div .pTop{
  border-top: 5px solid rgb(70, 70, 70);
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.moreHeading{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 150%;
  padding-top: 5%;
}

.moreLittleHeading{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 100%;
  padding-top: 5%;

}

.form{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 5em;
  border: 5px solid rgb(70, 70, 70);
  font-family:'Nunito', sans-serif; 
  text-transform: uppercase;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  padding-left: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
 
}

.button{
  background-color:rgba(0,0,0,0.0);
    color: rgb(70, 70, 70);
    font-weight: bolder;
    text-align: center;
    padding-right: 18%;
    padding-left: 18%;

    
  }

 

  .buttonSub{
    background-color:rgba(0,0,0,0.0);
    color: rgb(70, 70, 70);
    font-weight: bolder;
    text-align: center;
    padding-right: 18%;
  }

  

  .homeMiniHead{
    text-align: center;
    padding-top: 5%;
    border-bottom: 5px solid rgb(70, 70, 70);
    margin-left: 20%;
    margin-right: 20%;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;

  }

  #txtNoti{
    text-align: center;
    padding-right: 18%;

  }

  @media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }

