body{
    background-color:#FFF3E1;
}

.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
   
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: center;
}


header{
    margin-left: 15%;
    background-image: url(images/Tyson.png);
    background-size: 80% 140%;
    padding-bottom: 20%;
    background-repeat: no-repeat;
}

*{
    margin: 0px;
    padding: 0px;
}

/* NAV BAR */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(0,0,0,0.0);
    font-family: 'Nunito', sans-serif;

}

.nav-links{
    display: flex;
    width: 70%;
    background-color: rgba(0,0,0,0.0);
    justify-content: space-around;
    
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    color: black;
    border: 1px solid black;
    padding: 3px;
}
.nav-links li{
    list-style: none;
    
}

.nav-links :hover{
        text-shadow: 0 0 3px #000000, 0 0 5px #000000;
        color: white;
        background-color: #000;
}






footer{
    text-align: center;
    float: left;
    bottom: 0;
    width:100%;
    margin-top: 250px;
    margin-left: 15px;
  }

/* HOME PAGE SLIDER */

  #slider{
    overflow: hidden;
  }
  
  #slider figure{
    position:relative;
    margin:0;
    left:0;
    animation: 20s slider infinite;
    width: 500%;
    
  }
  
  #slider figure img {
    width: 20%;
    float: left;
  }
  
  @keyframes slider{
    0%{
      left: 0;
    }
    20%{
      left: 0;
    }
    25%{
      left: -100%;
    }
    45%{
      left: -100%;
    }
    50%{
      left: -200%;
    }
    70%{
      left: -200%;
    }
    75%{
      left: -300%;
    }
    95%{
      left: -300%;
    }
    100%{
      left: -400%;
    }
  }


.logo{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 125%;
    
}

aside p{
  font-weight: bold;
  padding-left: 20%;
}